<form class="{{cssClass}}" autocomplete="off">
    <img src="{{image.img}}" data-edit="image"  title="{{item.name}}" height="128" width="128"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    <label>Dégats
        <input name="data.damage" type="text" value="{{data.damage}}" placeholder="damage"/>
    </label>
    <label>Maniabilité
        <input name="data.mains" type="text" value="{{data.mains}}" placeholder="mains"/>
  <!-- Ajoutez ici les champs de la fiche -->
</form>
